<div style=" display: flex; align-items: center; background-color: red; justify-content: center; justify-content: space-around; margin-top: 2%">
  <form [formGroup] ="tiktokForm" (ngSubmit)="onSubmitTikTok()">
     <label for="tiktokPageLink">
       Tiktok Page
     </label>
    <input type="text" id="tiktokPageLink" formControlName="tiktokPageLink">
    <button class="btn btn-success" type="submit" >Show instagram reels</button>

  </form>

<button class="btn btn-success" type="button" style="">Show tiktok reels</button>
<button class="btn btn-success" type="button" (click)="test()" style="">Download suggested reels</button>
  <input type="file" id="file-input" accept="video/*">



</div>

  <div id="container" style="display: inline-flex;flex-wrap: wrap; justify-content: space-between;">
      <app-reel-to-select *ngFor='let reel of allInstagramReels' [reelToDisplay]="reel" [count]="selectCount"></app-reel-to-select>
  </div>

  <script async defer src='https://www.tiktok.com/embed.js'></script>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

